<ion-header>
  <ion-toolbar>
    <ion-title>Rejected Appointments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 class="animated fadeIn delay-1s" style="margin: 0">Rejected Appointments: </h2>
<ion-card *ngFor="let patient of patients" class="animated slideInUp delay-0.5s">
    <ion-grid>
        <ion-row>
            <ion-col size="3">
                <ion-thumbnail><img src="assets/home/{{patient.image}}.jpg"></ion-thumbnail>
            </ion-col>
            <ion-col>
                <div>
                    <h5>{{patient.name}}</h5>
                    <div>
                      <h6>Date: {{patient.date}}</h6>      
                    </div>
                    <p>time: {{patient.time}}</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    </ion-card>
</ion-content>
