<ion-content>
    <div class="signup">
        <div class="signupbutton">
            <a (click)="SignupPage()">Sign Up!</a>
        </div>
    </div>
    <div class="logo animated fadeIn delay-2s">
        <img src="assets/icon/logo.png">
    </div>
    <div>
        <ion-item class="userinput">
            <ion-label position="floating">Email </ion-label>
            <ion-input [(ngModel)]=user type="text"></ion-input>
        </ion-item>
        <ion-item class="userinput">
            <ion-label position="floating">Password </ion-label>
            <ion-input [(ngModel)]=pass type="Password"></ion-input>
        </ion-item>
        <div class="forgotpassword">
            <a href="">Forgot your password?</a>
        </div>
        <div class="login-button">
            <button class="login" (click)="Home()">Login</button>
        </div>

    </div>
</ion-content>

<ion-footer>
    <ion-button (click)="DrLoginPage()" fill="clear" size="full">
        Login as Doctor
    </ion-button>
</ion-footer>