ion-thumbnail{
    margin: 5%;
    height: 90px;
    width: 90px;
  }
    h5{
      margin: 0;
      padding: 0;
      color: #1b1b9e;
  }
  h6{
      margin: 0;
      padding: 0;
  }
  h1{
      font-size: 18px;
  }
  ion-card{
    padding: 0;
    margin: 0;
    background-color: white;
    box-shadow: 2px 2px 10px #888888;
      
  }
  .star-box{
      padding-top: 5px;
  }
  .Dr-info{
      line-height: 0;
      padding: 0;
      margin: 0;
  }
.confirm{
    margin: 0 auto;
    --background: #1b1b9e;
    margin-top: 10%;
}