<ion-header>
  <ion-toolbar>
    <ion-title>book</ion-title>
    <ion-buttons slot="start">
        <ion-button (click)="Backtohome()" fill="clear"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <h1>You are booking an appointment with</h1>
    <ion-card>
        <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-thumbnail><img src="assets/home/1.jpg"></ion-thumbnail>
              </ion-col>
              <ion-col>
                <div class="Dr-info">
                  <h5>Dr. Khurram</h5>
                  <h6>Cardiologist</h6>
                  <div class="star-box">
                    <a><ion-icon name="star"></ion-icon></a>
                    <a><ion-icon name="star"></ion-icon></a>
                    <a><ion-icon name="star"></ion-icon></a>
                    <a><ion-icon name="star"></ion-icon></a>
                    <a><ion-icon name="star"></ion-icon></a>
                  </div>
                  <p>+12 Years Experience</p>
                  <h6>Fees: 500-PKR Per visit</h6>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-card>
  </div>
  <div text-center>
  <ion-button class="confirm" shape="round" size="medium">Confirm Appointment</ion-button> 
</div>

</ion-content>
