<ion-header>
    <ion-toolbar>
        <ion-title text-center>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h2 class="animated fadeIn delay-1s" style="margin: 0" text-center>Our Specialists</h2>
    <ion-card *ngFor="let doctor of doctors" class="animated rollIn delay-0.5s">
        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <ion-thumbnail><img src="assets/home/{{doctor.img}}.jpg"></ion-thumbnail>
                </ion-col>
                <ion-col>
                    <div class="Dr-info">
                        <h5>{{doctor.name}}</h5>
                        <h6>{{doctor.specialty}}</h6>
                        <div class="star-box">
                            <a>
                                <ion-icon name="star"></ion-icon>
                            </a>
                            <a>
                                <ion-icon name="star"></ion-icon>
                            </a>
                            <a>
                                <ion-icon name="star"></ion-icon>
                            </a>
                            <a>
                                <ion-icon name="star"></ion-icon>
                            </a>
                            <a>
                                <ion-icon name="star"></ion-icon>
                            </a>
                        </div>
                        <p>{{doctor.exp}}</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-card-content>
            <div style="float: left">
                <ion-button (click)="OpenProfile()" size="small" fill="clear">View Profile</ion-button>
            </div>
            <div style="float: right">
                <ion-button (click)="appointment()" size="small" fill="clear">Appointment</ion-button>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>