<ion-header>
    <ion-toolbar>
        <ion-title text-center>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <h2 class="animated fadeIn delay-1s" style="margin: 0" text-center>Choose your Category</h2> -->
    <ion-grid *ngIf='docs.length > 0'>
        <ion-row>
            <ion-col *ngFor='let item of docs' (click)='showDr(item.name)' size="12" size-md='6'>
                <ion-card>
                    <ion-item>
                        <ion-avatar item-start>
                            <img [src]="item.img">
                        </ion-avatar>
                        <h2>{{item.name}}</h2>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>