ion-content ion-icon{
   color: #1b1b9e;
   font-size: 24px;
}
ion-item{
    --background: transparent;
}
.login-button{
    margin-top: 50px;
    text-align: center;
    position: relative;
}
.login{
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    background-color: #1b1b9e;
    color: white;
    font-size: 18px;

}
ion-select{
    color: #1b1b9e;
}